/*===========================================================*/
/* ================== edit transition =======================*/
/*===========================================================*/

.flip-container { 
  /*width: 200px;
  height: 260px;*/
  position: relative;
  perspective: 1200px;
}

#card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform .5s ease-out;
}

#card figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#card .front {

}

#card .back {

  transform: rotateY( 180deg );
}

#card.flipped {
  transform: rotateY( 180deg );
}

/*===========================================================*/
/*=================== end edit transition ===================*/
/*===========================================================*/
#contacts-block {
	border: 1px solid #ccc;
	min-height: 480px;
}
#contact-details-block {
	border: 1px solid #ccc;
	min-height: 480px;


}
.list-group-item:hover {
	background-color: #ccc;
}

h3 {
	text-align: center;
	font-family: italic;
}

h4, h2 {
font-family: bold;
}

.button {
	text-align: center;
}

.button-user {
	text-align: right;
}
#selectmultiple {
	width: 260px;
	vertical-align: middle;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.my-adress {
	padding-right: 30px;

}
.list-group-item.active, .list-group-item.active:hover {
	background: #0aa;
}

#contact-form {
	margin-top: 20px;
}

#group-add {
  .pull-right();
}

address {
	padding-left;
}