#contacts-block {
	border: 1px solid #ccc;
}
#contact-details-block {
	border: 1px solid #ccc;
	min-height: 399px;
}
.list-group-item:hover {
	background-color: #ccc;
}

h3 {
	text-align: center;
	font-family: italic;
}

h4, h2 {
font-family: bold;
}

.button {
	text-align: center;
}

.buttonuser {
	text-align: right;
}
#selectmultiple {
	width: 260px;
	vertical-align: middle;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.myadress {
	padding-right: 30px;

}


